/* generics */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.clearfix{
    display: table;
    content:'';
    clear: both;
}
.row{
}
/* contenuto principale */

/* body{
    background: goldenrod;
    
} */

#logo{
    height: 100px;
    margin: 10px;
}

ul{
    display:inline;
}

a{
    text-decoration: none;
    color: #C2C2C2;
}

.spotlight{
;
}

/* contenuto principlae in float */


.col{
    float: left;
}

.col-center{
    width: calc(50% - 10px);
    
}

.col-side{
    width: calc(25% - 10px);

}


/* footer */

footer{
   font-size: 30px;
   text-align: center;
}
